body {
    /* background-image: url("../assets/mosquee_image.jpg"); */
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.today_date {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    margin: auto;
    width: 50%;
    color: rgb(50, 55, 59);
    height: auto;
    text-align: center;
}

.list-group-item {
    padding: 3px 5px;
    height: 40px;
}

.list-group {
    margin: auto;
    text-align: center;
    width: 80%;
}
.list-group-item {
    padding: 3px 5px;
    height: 55px;
}

.prayer-text-next {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    color: rgb(49, 49, 49);
    height: auto;
}

.prayer-text-old {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    color: rgb(49, 49, 49);
    height: auto;
}

.header-title {
    font-size: x-large;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.685);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
}

#datesListAction {
    font-weight: normal;
    font-size:x-small;
    float: right;
    padding: auto;
    color: white;
    background-color: #0e3b8f;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#datesListAction:hover {
    background-color:rgb(49, 49, 49);
    color: white;
}